@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <script>
        function Selectall() {
          if ($('.checkAll').is(':checked')) {
            $('.check').prop('checked', true);
          }
          else {
            $('.check').prop('checked', false);
          }
        }</script>
    <h3>Users</h3>
    <menu type="toolbar">
    </menu>
    @using (Html.BeginForm())
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <input type="submit" name="action" value="Block" class="btn" />
                    </li>
                    <li class="nav-item">
                        <input type="submit" name="action" value="Unblock" class="btn" />
                    </li>
                    <li class="nav-item">
                        <input type="submit" name="action" value="Delete" class="btn" />
                    </li>
                </ul>
            </div>
        </nav>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.CheckBox("AllCheck", new { @class = "form-check-input checkAll", @onchange = "Selectall()" })
                        <small>Select/Reset all</small>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Registration Date</th>
                    <th scope="col">Last Login Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (user, i) in Model.Select((value, i) => (value, i)))
                {
                    <tr>
                        <td>
                            <div class = "justify-content-center" flex-direction: row>
                            @Html.CheckBoxFor(x => x[i].IsChecked, new { @class = "form-check-input check" })
                            @Html.HiddenFor(x => x[i].Mail)
                            </div>
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.Mail</td>
                        <td>@user.RegistrationDate</td>
                        <td>@user.LastLoginDate</td>
                        <td>@user.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
